.view.overlay img{
    width: 100%;
    height: 160px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.carousel-item.col-md-3 img{
    cursor: pointer;
}
.intro-2 {
     background: url("../img/profile/back.jpg") no-repeat center center;
     background-size: cover;
}
 .top-nav-collapse {
     background-color: #424f95 !important;
     opacity: 0.9 !important;
     animation: fadeInDown 2s;
}
 .navbar:not(.top-nav-collapse) {
     background: transparent !important;
}
 @media (max-width: 768px) {
     .navbar:not(.top-nav-collapse) {
         background: #424f95 !important;
    }
}
 .btn.btn-white {
     color: #212121 !important;
}
 h6 {
     line-height: 1.7;
}
 .custom-gradient .full-bg-img {
     background: -moz-linear-gradient(45deg, rgba(42, 27, 161, 0.5), rgba(29, 210, 177, 0.5) 100%);
     background: -webkit-linear-gradient(45deg, rgba(42, 27, 161, 0.5), rgba(29, 210, 177, 0.5) 100%);
     background: -webkit-gradient(linear, 45deg, from(rgba(42, 27, 161, 0.5)), to(rgba(29, 210, 177, 0.5)));
     background: -o-linear-gradient(45deg, rgba(42, 27, 161, 0.5), rgba(29, 210, 177, 0.5) 100%);
     background: linear-gradient(to 45deg, rgba(42, 27, 161, 0.5), rgba(29, 210, 177, 0.5) 100%);
}
 @media (max-width: 450px) {
     .margins {
         margin-right: 1rem;
         margin-left: 1rem;
    }
}
/* -- import Bootstrap v3 --------------------------- */
/* -- import Bootstrap docs ------------------------- */
/* -- import Roboto Font ---------------------------- */
 @import "https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic";
/* -- Body style ------------------------------------ */
/* -- Input styles ---------------------------------- */
 .form-group {
     position: relative;
     margin-top: 35px;
     margin-bottom: 20px;
}
 .input-group {
     position: relative;
}
 .form-control {
     display: block;
     height: 36px;
     width: 100%;
     border: none;
     border-radius: 0 !important;
     font-size: 16px;
     font-weight: 300;
     padding: 0;
     background-color: transparent;
     box-shadow: none;
     border-bottom: 1px solid #757575;
}
 .input-group .form-control {
     position: relative;
     z-index: inherit;
     float: inherit;
     width: 100%;
     margin-bottom: 0;
}
 .form-control:focus {
     border-color: #757575;
     outline: none;
     box-shadow: none;
}
/* -- label styles ---------------------------------- */
 label {
     position: absolute;
     top: -18px;
     color: #999;
     font-size: 12px;
     font-weight: 300;
     transition: 0.2s ease all;
     -moz-transition: 0.2s ease all;
     -webkit-transition: 0.2s ease all;
}
 .form-horizontal .control-label {
     position: relative;
     top: 0;
     margin-bottom: 0;
}
 @media (min-width: 768px) {
     .form-horizontal .control-label {
         font-size: 16px;
    }
}
 .float-label {
     left: 0;
     top: 7px;
     font-size: 16px;
     pointer-events: none;
}
/* active state */
 .form-control:focus ~ .float-label, .form-control:valid ~ .float-label {
     top: -18px;
     font-size: 12px;
}
/* input colors ---- */
 // default .form-control:focus {
     ~ label {
         color: #03a9f4;
    }
     ~ .form-bar:before, ~ .form-bar:after {
         background: #03a9f4;
    }
}
 .form-control:valid ~ .control-label {
}
/* help-block */
 .form-group .help-block {
     position: absolute;
}
 .help-block {
     color: #bdbdbd;
     // caption font-size: 12px;
     font-weight: 300;
}
/* input addon ---*/
 .input-group-addon {
     border: none;
     background: transparent;
}
/* ------ inline ----*/
 .input-group-addon, .form-inline .input-group {
     display: table-cell;
}
 .input-group-addon, .input-group-btn {
     width: inherit;
}
 .input-group {
     width: 100%;
}
 @media (min-width: 768px) {
     .form-inline .form-group {
         margin-top: 16px;
    }
     .input-group-btn, .input-group .form-control, .input-group-addon, .form-inline .input-group {
         display: inline-block;
    }
     .input-group {
         width: auto;
    }
}
/* -- bar styles -------------------------------------- */
 .form-bar {
     position: relative;
     display: block;
     width: 100%;
}
 .form-bar:before, .form-bar:after {
     content: '';
     height: 1px;
     width: 0;
     bottom: 0;
     position: absolute;
     transition: 0.3s ease all;
     -moz-transition: 0.3s ease all;
     -webkit-transition: 0.3s ease all;
}
 .form-bar:before {
     left: 50%;
}
 .form-bar:after {
     right: 50%;
}
/* active state */
 .form-control:focus ~ .form-bar:before, .form-control:focus ~ .form-bar:after {
     width: 50%;
}
/* -- highlighter styles ------------------------------ */
 .form-highlight {
     position: absolute;
     height: 60%;
     width: 60px;
     top: 25%;
     left: 0;
     pointer-events: none;
     opacity: 0.4;
}
/* active state */
 .form-control:focus ~ .form-highlight {
     -webkit-animation: inputHighlighter 0.3s ease;
     -moz-animation: inputHighlighter 0.3s ease;
     animation: inputHighlighter 0.3s ease;
}
/* -- highlighter animation --------------------------- */
 @-webkit-keyframes inputHighlighter {
     from {
         background:#5264AE;
    }
     to {
         width:0;
         background:transparent;
    }
}
 @-moz-keyframes inputHighlighter {
     from {
         background:#5264AE;
    }
     to {
         width:0;
         background:transparent;
    }
}
 @keyframes inputHighlighter {
     from {
         background:#5264AE;
    }
     to {
         width:0;
         background:transparent;
    }
}
/*-- Checkbox --------------------------- */
 // fork from https://codepen.io/jasonmayes/pen/wxtFr 
/* * Core styles required for the checkboxes. * @author Jason Mayes 2014, www.jasonmayes.com */
 .form-group.checkbox {
     margin-top: 20px;
}
 .checkbox input[type='checkbox'] {
     height: 0;
     width: 0;
     opacity: 0;
}
 .checkbox label {
     font-size: 14px;
     font-weight: 300;
     line-height: 1;
     display: inline-block;
     overflow: hidden;
     position: relative;
     top: 10px;
     padding-left: 0;
}
 .checkbox .chk-span {
     top: 0;
     border: 1px solid #FF7D85;
     color: #1d1d1d;
     cursor: pointer;
     display: inline-block;
     float: left;
     height: 14px;
     margin: 0 14px 14px 1px;
     outline-color: #eaeaea;
     padding: 0;
     position: relative;
     width: 14px;
     -webkit-transition: all 0.2s ease-in-out;
     -moz-transition: all 0.2s ease-in-out;
     transition: all 0.2s ease-in-out;
     z-index: 1;
}
 .checkbox .chk-span.checked {
     top: -2px;
     border-left: 2px solid #FF7D85;
     border-bottom: 4px solid #FF7D85;
     border-top: 1px solid rgba(0,0,0,0);
     border-right: 1px solid rgba(0,0,0,0);
     -webkit-transform: rotate(-45deg) scaleY(0.5);
     -moz-transform: rotate(-45deg) scaleY(0.5);
     -ms-transform: rotate(-45deg) scaleY(0.5);
     -o-transform: rotate(-45deg) scaleY(0.5);
     transform: rotate(-45deg) scaleY(0.5);
}
 // Checkbox colors .checkbox .chk-span.checked {
     border-left-color: #FF7D85;
     border-bottom-color: #FF7D85;
}
 // focus state .checkbox input[type='checkbox']:focus ~ label {
     color: #424F95;
     .chk-span {
         border-color: #424F95;
         &.checked {
             border-left-color: #424F95;
             border-bottom-color: #424F95;
             border-top: 1px solid rgba(0, 0, 0, 0);
             border-right: 1px solid rgba(0, 0, 0, 0);
        }
    }
}
 @media (min-width: 768px) {
     .form-inline .radio label, .form-inline .checkbox label {
         padding-left: 5px;
    }
}
 .form-control-static {
     font-size: 16px;
}
 .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
     background-color: transparent;
     border-bottom-style: dashed;
}
 #focusedInput {
     border-color: #ccc;
     border-color: rgba(82,168,236,.8);
     outline: 0;
     box-shadow: none;
}
 .bt-color{
     background-color: #FF7D85;
     color: white;
}
 .p-color{
     color: #FF7D85;
}
.bt-color1{
     background-color: #424f95;
     color: white;
}
 .foot-back{
     background-color: #424f95;
}
 .p2-color{
     color: #8D9AFF;
}
 .filter-center{
     margin: 0 auto;
}
 .p-0-b{
     padding-bottom: 0 !important;
}
 .p-0-l{
     padding-left: 0 !important;
}
 .p-0-r{
}
 .p-0-t{
     padding-top: 0 !important;
}
 select option:hover{
     background-color: #FF7D85;
     color: white;
}

 .pag-color{
     background-color: white !important;
     color: #FF7D85 !important;
}
 .pag-active{
     background-color: #FF7D85 !important;
     color: white !important;
}
 .pag-color:hover{
     background-color: #FF7D85 !important;
     color: white !important;
}

.pas-a{
    position: absolute;
    margin: auto;
}
@media (min-width: 768px) {

    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item  {
        display: block;
    }
    
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }
    
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
    
    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    
    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.bt-color1.active{
    background-color: #8D9AFF !important;
}

li{
    cursor: context-menu  !important;
}
.btn.btn-sm.p2-color{
    color:#8D9AFF !important;
}
.btn.bt-color1.btn-md{
    margin:0;
}

.bt-color1.phone-number{
        font-size: 15px;
}
.modal-footer{
    padding: 0;
    justify-content: space-between !important;
}


.clearfix{
    animation: fadeInRight 3s;
}

.text-md-left{
    animation: fadeInLeft 3s;
}
.anim{
    animation: slideInUp 1s;
}
.reg-anim{
    animation: slideInDown 2s;
}
.img-resp{
    width: 40px;
    height: 40px;
    /*margin: 5px;*/
    border:3px solid white;
}
.button-info{
    margin-left: 0;
    border-radius: 19px 0 0 19px !important;
}

.button-back{
    margin: 0;
    padding: 10px 15px 10px 15px;
    /*border-radius: 0 19px 19px 0 !important;*/
}

.no-cursor{
    cursor: unset !important;
}
.form-check-label {
    margin-left: 0px !important;
}
.statement-description{
    font-size: 18px;
}
.mask.rgba-white-slight{
    cursor: pointer;
}
.cursor{
    cursor:pointer;
}
.cursor:hover{
    opacity: 0.7;
}
.set-center-padding{
    padding-top: 20px;
    font-size: 18px;
    padding-bottom: 10px;
}